* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #180f0f;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

.expenses-list {
    margin-top: 20px;
}

.expenses-list ul {
    list-style-type: none;
}

.expenses-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.total {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.total span {
    color: #FF5733;
}
